<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    <title>Devbook - Login</title>
</head>
<body>
    <div class="container-login">
        <div>
            <form  class="devbook-form" id="login">
                <span>Seja bem vinde ao DevBook</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                </div>
                <div>
                    <input type="text" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                </div>
                <a href="/criar-usuario">Clique aqui para criar a sua conta</a>
                <button type="submit" class="btn-devbook">Login</button>
            </form>
        </div>
    </div>
</body>
</html>